.feedback {
  width: 160px;
  padding: 0;
  padding-left: 1px;
  margin: 0;
  background-color: $header-panel;

  a {
    color: $special-yellowlight;

    &:hover {
      text-decoration: underline;
    }

    &:active{
      color: $basic-red;
      text-decoration: none;
    }
  }
}
