.goods-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 48px 0 0 0;
  padding: 0;

  &:not(:last-child) {
    margin-right: 10px;
  }

  a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid $border-grey;
    box-sizing: border-box;
    border-radius: 2px;
    color: $black;
    margin: 0;
    padding: 0;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:last-child a {
    width: 140px;
  }

  &__page-item {
    a {
      &:hover {
        border-color: $basic-greylight;
      }

      &:active {
        border-color: $basic-red;
      }
    }
  }

  &__item-active {
    a {
      color: $white;
      border-color: $basic-red;
      background-color: $basic-red;
    }
  }
}
