.write-us {
  width: 620px;
  height: 430px;
  margin-left: -310px;
  margin-top: -215px;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

    label {
      font-family: "Cuprum", Arial, sans-serif;
      font-size: 18px;
      line-height: 24px;
      font-style: normal;
      font-weight: normal;
    }

    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      font-family: "PT Sans", Arial, sans-serif;
      font-size: 13px;
      line-height: 24px;
      font-style: normal;
      font-weight: normal;
      color: $color-old-price;
    }

    input::-moz-placeholder, textarea::-moz-placeholder {
      font-family: "PT Sans", Arial, sans-serif;
      font-size: 13px;
      line-height: 24px;
      font-style: normal;
      font-weight: normal;
      color: $color-old-price;
    }

    input::placeholder, textarea::placeholder {
      font-family: "PT Sans", Arial, sans-serif;
      font-size: 13px;
      line-height: 24px;
      font-style: normal;
      font-weight: normal;
      color: $color-old-price;
    }
  }

  &__form-main {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }

  &__item {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 10px;
    }

    input {
      width: 220px;
      height: 38px;
      box-sizing: border-box;
      border: 2px solid $basic-greylight;
      border-radius: 2px;
      outline: none;
      padding-left: 11px;
    }

    textarea {
      width: 460px;
      height: 114px;
      box-sizing: border-box;
      border: 2px solid $basic-greylight;
      border-radius: 2px;
      outline: none;
      padding-left: 11px;
      padding-top: 5px;
    }
  }

  &__message {
    margin-top: -2px;
  }

  &__footer {
    height: 112px;
    background-color: $form-footer-background;
    margin-top: auto;
  }

  &__submit {
    width: 460px;
    height: 38px;
    margin: 37px auto 0 auto;
  }
}
