body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  color: $black;
  background-color: $white;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.hidden {
  display: none;
}

.section-header {
  background-color: $section-background;
  display: flex;
  align-items: center;
  width: 940px;
  height: 89px;

  h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: $basic-grey-dark;
    text-transform: uppercase;
    margin-left: 28px;
    margin-right: auto;
  }
}

.page-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: $basic-grey-dark;
  background-color: $background-page-title;
  grid-column: 1 / -1;
  height: 89px;
  display: flex;
  align-items: center;
  padding-left: 29px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
