$basic-red: #EE3643;
$basic-red-dart: #CA2C37;
$basic-greylight: #C5C5C5;
$basic-greylighter: #EAEAEA;
$basic-green: #63A63E;
$basic-green-dark: #518534;
$basic-green-darkest: #367315;
$white: #FFFFFF;
$black: #000000;
$basic-grey: #3D546F;

$basic-grey-dark: #32425C;
$basic-grey-dark-trancend: rgba(50, 66, 92, 0.5);
$basic-grey-darkest: #212A3A;
$basic-background: #F1F5F7;
$background-grey: #F3F7F9;
$background-page-title: #F2F6F8;

$success: #5FBB2D;
$warning: #FFBF47;
$error: #BA2732;

$header-panel: #293449;
$header-panel-click: #161D29;

$special-yellow: #FFBF47;
$special-yellowlight: #FFD180;
$special-blue: #3BBCE3;
$special-lilac: #DC91D8;
$special-grenlight: #8ED78F;

$promo-yellow: #FFC047;
$section-background: #F9F5F0;
$nav-background: rgba(0, 0, 0, 0.01);
$account-background: rgba(0, 0, 0, 0.0001);
$nav-background-active: #1D2739;
$slider-background: rgba(0, 0, 0, 0.25);
$promo-button-background: rgba(255,255,255,0.3);
$promo-button-background-hover: rgba(197,197,197,0.3);
$promo-button-background-active: rgba(169,169,169,0.3);
$catalog-filters-background: #F7F3EC;
$form-footer-background: #F4F4F4;

$color-old-price: #A9A9A9;
$color-trancend: rgba(255,255,255,0.5);
$color-black-trancend: rgba(0, 0, 0, 0.1);
$color-black-light: rgba(0, 0, 0, 0.3);

$border-grey: #E5E5E5;
$border-grey-dart: #405069;

$popup-shadow: rgba(0, 0, 0, 0.15);
$popap-basket: #F1F1F1;

$black-light: rgba(0, 0, 0, 0.24);

$checked: #B5B5B5;
$range-scale: #D7DCDE;
$range-bar: #00ca74;
$range-toggle: #ABABAB;
$range-toggle-light: rgba(171, 171, 171, 0.3);
